.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100vw; 
    background-image: url("/assets/fondo.jpeg");
    background-size: cover; 
    background-position: center;
    
    
}
  
@font-face {
    font-family: 'titulos';
    src: url('/assets/GameTitule.ttf') format('truetype'); /* CORREGIDO */
    font-weight: normal;
    font-style: normal;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.title{
    font-size: 20vh;
    color: blanchedalmond;
    font-family: 'titulos';
    margin: 1px;
}
  
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
}
  