.general-statistics{
    display: flex;
    flex-direction: column;
    background-color: rgba(135, 78, 153, 0.23);
    width: 75%;
    height: 35%;
    align-items: center;
    justify-content: flex-start;
    border-radius: 50px;
    font-family: 'titulos',sans-serif;
    font-size: 1.5vw;
}

.es{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 80%;
    align-items: center;
    margin-top: 0%;

}
