.general-statistics{
    display: flex;
    flex-direction: column;
    background-color: rgba(135, 78, 153, 0.23);
    width: 75%;
    height: 30%;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6vh;
    font-family: 'titulos',sans-serif;
    font-size: 3.8vw;
}

.title-s{
    font-family: 'titulos',sans-serif;
    font-size: 2.1vw;
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    margin-top: 0%;
    justify-content: center;
    color: aliceblue;
}
.es{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
    align-items: center;
    margin-top: 0%;
    color: rgb(246, 224, 243);
}
