.background-statistics{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-image: url("/assets/fondoStatistics.jpg");
  overflow-y: auto;
  gap: 1vw;
  padding: 0; /* Remueve padding que empuja el contenido */
  margin: 0;
}

.players-statistics{
  display: flex;
  flex-direction: row;
  background-color: rgba(135, 78, 153, 0.23);
  height: auto;

  width: 75%;
  align-items: center;
  justify-content: center;
  border-radius: 50px;

}

.title-statistics{
  color:rgb(177, 232, 235);
  font-size: 3.5vw;
}

.statistics{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

